<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" style="min-height: 100vh;"
  [formGroup]="converter" fxLayout="column" fxLayoutGap="30px">
  <div class="textBox" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="40px">
    <div class="left" fxFlex="50%" fxFlex.lt-md="100%">
      <div class="group">
        <textarea placeholder="Enter normal token" #left type="search" formControlName="normal"
          class="input"></textarea>
      </div>
    </div>
    <div class="right" fxFlex="50%" fxFlex.lt-md="100%" style="position: relative;">
      <div style="position: absolute;right: 10px;top: 10px;">
        <button mat-icon-button color="accent" class="copy_btn" *ngIf="converter.get('converted')?.value"
        [cdkCopyToClipboard]="converter.get('converted')?.value"><mat-icon style="color: pink;">file_copy</mat-icon></button>
      </div>
      <div class="group">
        <textarea placeholder="Converted token" #right type="search" formControlName="converted"
          class="input"></textarea>
      </div>
    </div>
  </div>
  <div>
    <button class="btn" (click)="convertJson()"><i class="animation"></i>CONVERT<i class="animation"></i>
    </button>
  </div>
</div>