<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" style="min-height: 100vh;" fxLayout="column" fxLayoutGap="30px">
  <div fxLayout="row" fxLayoutGap="10px">
    <button mat-icon-button [disabled]="undoStack.length<=0" (click)="undo()"><mat-icon>undo</mat-icon></button>
    <button mat-icon-button [disabled]="redoStack.length<=0" (click)="redo()"><mat-icon>redo</mat-icon></button>
  </div>
  <div class="textBox" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="40px" style="width: 100%;">
    <div class="left" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
      <div class="group">
        <textarea placeholder="Enter normal token" #left type="search" [formControl]="normalJson"
          class="input"></textarea>
      </div>
    </div>
    <div fxLayout="column" style="width: 80%;padding: 20px;margin-bottom: 25px;">
      <table>
        <thead>
          <tr>
            <th>Index</th>
            <th>Event</th>
            <th>Path</th>
            <th>Old Value</th>
            <th>New Value</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let array of undoStack;let i =index">
            <tr *ngFor="let log of array">
              <td>{{i+1}}.</td>
              <td>{{ log.action }}</td>
              <td>{{ log.path }}</td>
              <td>{{ log.oldValue | json }}</td>
              <td *ngIf="log.newValue; else emptyValue">{{ log.newValue | json }}</td>
              <ng-template #emptyValue><td>-</td></ng-template>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <button class="btn" [disabled]="!normalJson.value" (click)="onCheck()"><i class="animation"></i>CHANGE<i class="animation"></i>
    </button>
  </div>
</div>