.main-container {
  padding: 10px;
  padding-top: 20px;
}

.card {
  height: 150px;
  width: 100%;
  margin-bottom: 40px;
  margin-inline: 10px;
  background: linear-gradient(to left, #ffc2a1, #ffafbd);
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
}

.new {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.feedback {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.mat-mdc-raised-button.my {
  background-color: gray;
  color: white;
}

.dialog {
  padding-inline: 10px;
}