<mat-toolbar style="background-color: rgb(114, 207, 171);">
  <h3>ANGOSHEET 2.0</h3>
</mat-toolbar>
<div fxLayoutAlign="center center">
  <div class="main-container" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <a class="card" matRipple matRippleColor="accent" fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="95%"
      fxLayoutAlign="space-around center"
      href="https://drive.google.com/drive/folders/11g66kXkfr-Z9Rm9T-vbb5jU5oq1vIq9k?usp=sharing" target="_blank"
      style="background: #d82d2f;">
      Angular Class Videos
      <mat-icon>play_circle</mat-icon>
    </a>
    <a class="card" matRipple matRippleColor="accent" fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="95%"
      fxLayoutAlign="space-around center"
      href="https://drive.google.com/drive/folders/1ze8zhPiLDkLaf81qp3-PyddU4JKTLrFE?usp=share_link" target="_blank"
      style="background: #73aa60;">
      Node Class Videos
      <mat-icon>play_circle</mat-icon>
    </a>
    <a class="card" matRipple matRippleColor="accent" fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="95%"
      fxLayoutAlign="space-around center"
      href="https://drive.google.com/drive/folders/1-euSrbdLHLEv0vixqzbcfdJngqUHfZfR?usp=sharing" target="_blank"
      style="background: #4f9ddd;">
      Phase ii Angular Videos
      <mat-icon>play_circle</mat-icon>
    </a>
    <div class=" card" matRipple [routerLink]="['/cheatsheet','angular']" fxFlex="30%" fxFlex.lt-md="45%"
      fxFlex.lt-sm="95%" fxLayoutAlign="space-around center">
      Angular
      cheatsheet
    </div>
    <div class="card" matRipple [routerLink]="['/cheatsheet','node']" fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="95%"
      fxLayoutAlign="space-around center">
      Node
      cheatsheet</div>
    <div class="card" matRipple [routerLink]="['/cheatsheet','unit_testing']" fxFlex="30%" fxFlex.lt-md="45%"
      fxFlex.lt-sm="95%" fxLayoutAlign="space-around center">
      Unit Testing</div>
    <div class="card" matRipple [routerLink]="['/cheatsheet','e2e_testing']" fxFlex="30%" fxFlex.lt-md="45%"
      fxFlex.lt-sm="95%" fxLayoutAlign="space-around center">
      E2E Testing</div>
    <div class="card" matRipple [routerLink]="['/cheatsheet','themecreation']" fxFlex="30%" fxFlex.lt-md="45%"
      fxFlex.lt-sm="95%" fxLayoutAlign="space-around center">
      Themes</div>
    <div class="card" matRipple [routerLink]="['/cheatsheet','nx_architecture']" fxFlex="30%" fxFlex.lt-md="45%"
      fxFlex.lt-sm="95%" fxLayoutAlign="space-around center">
      Nx Arch</div>
    <!-- <div class="card grey" [routerLink]="['/token_converter']" matRipple fxFlex="30%" fxFlex.lt-md="45%"
      fxFlex.lt-sm="95%" fxLayoutAlign="space-around center">
      Token Format converter</div> -->
      <div class="card new" [routerLink]="['/translate']" matRipple fxFlex="30%" fxFlex.lt-md="45%"
      fxFlex.lt-sm="95%" fxLayoutAlign="space-around center">
      Translate JSON</div>
  </div>
</div>

<ng-template #collectiondialog>
  <br>
  <div class="dialog">
    <form class="collection-input" [formGroup]="collection" mat-dialog-content fxLayout="column">
      <mat-form-field class="collection_input" appearance="outline" fxFlex="90%" style="margin-bottom: 0px">
        <input matInput placeholder="Email" formControlName="name">
      </mat-form-field>
      <mat-form-field class="collection_input" appearance="outline" fxFlex="90%" style="margin-bottom: 0px">
        <input matInput placeholder="password" formControlName="password" type="password">
      </mat-form-field>
    </form>
    <div mat-dialog-actions>
      <button mat-raised-button class="my" mat-dialog-close="true" (click)="onLogin()">Login</button>
    </div><br>
  </div>
</ng-template>