<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" style="min-height: 100vh;"
  [formGroup]="converter">
  <div class="left">
    <mat-form-field class="example-full-width">
      <mat-label>Message</mat-label>
      <textarea matInput #left maxlength="256" placeholder="Ex. I need help with..." appearance="outline"
        formControlName="normal"></textarea>
      <mat-hint align="end">{{left.value.length}} / 256</mat-hint>
    </mat-form-field>
  </div>
  <div class="right">
    <mat-form-field class="example-full-width">
      <mat-label>Message</mat-label>
      <textarea matInput #right maxlength="256" placeholder="Ex. I need help with..." appearance="outline"
        formControlName="converted"></textarea>
      <mat-hint align="end">{{right.value.length}} / 256</mat-hint>
    </mat-form-field>
  </div>
  <button (click)="onConvert()">convert</button>
</div>