<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" style="min-height: 100vh;"
  [formGroup]="converter" fxLayout="column">
  <div class="textBox" fxLayout="row" fxLayout.lt-md="column">
    <div class="left" fxFlex="50%" fxFlex.lt-md="100%">
      <textarea matInput #left placeholder="Enter normal token" appearance="outline" formControlName="normal"
        style="width: 500px;height: 500px;"></textarea>
    </div>
    <div class="right" fxFlex="50%" fxFlex.lt-md="100%">
      <textarea matInput #right placeholder="Converted token" appearance="outline" formControlName="converted"
        style="width: 500px;height: 500px;"></textarea>
    </div>
  </div>
  <button (click)="onConvert()">convert</button>
</div>